@font-face {
  font-family: "iconfont"; /* Project id 4865231 */
  src: url('iconfont.woff2?t=1742524734040') format('woff2'),
       url('iconfont.woff?t=1742524734040') format('woff'),
       url('iconfont.ttf?t=1742524734040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-fenxiang:before {
  content: "\e616";
}

